/*
Assignment 3 for ITM 352

Author: Philip Sequeira (paseque@hawaii.edu)
Date: December 2020
Filename: style.css
Description: 
    'style.css' holds general style for the store 'CPU City'.
*/

body {
    font-family: "Karma", sans-serif;
    min-width:1000px;
    width: auto !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Karma", sans-serif;
}

.w3-bar-block .w3-bar-item {
    padding: 20px;
}