/*General*/
body {
    width: 800px;
    margin: 0 auto;
}

/* Typography */  
h1,h2 {
    text-align: center;
}

/* block styling */  
body > div {
    border: 5px solid black;
    display: flex;
}

/* Form styling */  
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(Images/phone_globe.jpg) no-repeat 50% center;
}

/* Styling the products display */ 
.item img{
    width: 200px;
    height: 200px;
}

.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
